.news-detail-section {
  padding: 20px;
}

.news-detail-box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.news-detail-box img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.news-detail-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-detail-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.publication-date {
  font-size: 14px;
  color: #888;
}
